@import url(../css/styles.css);

/** HEADER **/
.header{
    background-color: black;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.navegacion{
    display: flex;
    gap: 5rem;
}


.hipervinculos{
    display: block;
    text-align: center;
    font-size: 1.8rem;
    color: gray;
    text-decoration: none;
}

.active{
    color: var(--blanco);
}

.boton{
    border-radius: 0.5rem;
    width: 10rem;
    height: 4rem;
    color: var(--blanco);
    border: none;
    cursor: pointer;
}

.login{
    background-color: transparent;
}
.register{
    background-color: #309689;
    font-weight: 500;
}

/** HERO SECTION**/

.hero-section{
    background-image: url(../images/blackBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset 100px 100px 100px 100px rgba(0, 0, 0, 1);
}

.contenedor-titulo-hero{
    padding-top: 8rem;
    padding-bottom: 4rem;
}

.contenedor-titulo-hero h1, p{
    color: var(--blanco);
}

.contenedor-titulo-hero h1{
    font-size: 8rem;
}


.search-container {
    display: flex;
    align-items: center;
    background: white;
    width: 60%;
    height: 10rem;
    border-radius: 2rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.search-container input,
.search-container select {
    border: none;
    padding: 1.2rem;
    font-size: 1.6rem;
    outline: none;
    flex: 1;
}

.search-container select {
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.search-container select:not(:last-child) {
    border-right: 1px solid #ddd;
}

.boton-job{
    height: 100%;
    width: 15rem;
}

.contenedor-estadisticas{
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 10rem;
    padding-bottom: 10rem;
}

/** LOGO SECTION**/

.logo-section{
    background-color: black;
}

.contenedor-logos{
    display: flex;
    justify-content: space-between;
}